{% extends "app/base.html" %}
{% load static %}
{% load bootstrap4 %}
{% bootstrap_css %}

{% block title_block %}
Bikezon Account
{% endblock %}

{% block body_block %}
<h1>Account</h1>
<p>{{ user.username }}</p>
{% if picture %}
<img src="{{ picture.url }}" />
{% else %}
<img src="{% static 'images/no_profile_picture.png' %}" />
{% endif %}
<!-- Wishlist button -->

<form action="{% url 'app:list' %}">
    {% buttons %}
    <button type="submit" class="btn btn-primary">
        My wish list
    </button>
    {% endbuttons %}
</form>

<!-- Edit profile button -->

<form action="{% url 'app:edit_profile' %}">
    {% buttons %}
    <button type="submit" class="btn btn-primary">
        Edit my profile
    </button>
    {% endbuttons %}
</form>

<!-- Feed button -->

<form action="{% url 'app:feed' %}">
    {% buttons %}
    <button type="submit" class="btn btn-primary">
        My feed
    </button>
    {% endbuttons %}
</form>

{% endblock %}
