{% extends "app/base.html" %}
{% load static %}
{% load bootstrap4 %}
{% bootstrap_css %}

{% block title_block %}
Bikezon Account
{% endblock %}

{% block body_block %}
<link rel="stylesheet" href="{% static 'css/subcat.css' %}" />
<link rel="stylesheet" href="{% static 'css/account.css' %}" />

<div class="account-card">
<h1>{{ user.username }}</h1>
{% if picture %}
<img src="{{ picture.url }}" />
{% else %}
<img src="{% static 'images/no_profile_picture.png' %}" class="prof-pic"/>
{% endif %}
<a class="bigtext" href="{% url 'app:edit_profile' %}"><button >Edit my profile</button></a>
</div>

{% if products %}
<hr>
<div class="container bootstrap snippet">
    <div class="col-sm-10">
    <div class="row">
        <div class="col-sm-3">
            <ul class="list-group">
                <li class="list-group-item text-muted">Profile</li>
                <li class="list-group-item text-right"><span class="pull-left"><strong>Username</strong></span> {{ user.username }}</li>
                <li class="list-group-item text-right"><span class="pull-left"><strong>Address</strong></span> {{ profile.address }}</li>
                <li class="list-group-item text-right"><span class="pull-left"><strong>Phone</strong></span> {{ profile.phone }}</li>
            </ul>
        </div>
        <div class="col-sm-9">
            <div class="tab-content">
                <div class="tab-pane active" id="home">
                    <div class="table-responsive">
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th>Product name</th>
                                    <th>Description</th>
                                    <th>Price</th>
                                </tr>
                            </thead>
                            <tbody id="items">
                                  {% for product in products %}
                                  <tr>
                                    <td><a class="bigtext" href="/product/{{ product.slug }}/" id="id_{{ product.slug }}">{{ product.name }}</a></td>
                                    <td>{{ product.description }}</td>
                                    <td>{{ product.price }}</td>
                                  </tr>
                                  {% endfor %}
                            </tbody>
                        </table>
                        <hr>
                    </div>
                    <hr>
                </div>
            </div>
        </div>
    </div>
</div>
{% else %}
<strong>No products listed.</strong>
{% endif %}
{% endblock %}
