<!DOCTYPE html>
{% load static %}
{% load bootstrap4 %}
{% bootstrap_css %}
<html>
    <head>
        <meta charset="UTF-8">
        {% block meta_block%}
        {% endblock %}
        <link rel="stylesheet" href="{% static 'css/main.css' %}" />
        <link rel="shortcut icon" href="{% static 'images/favicon.ico' %}">
        <link
            href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css"
            rel="stylesheet">
        <script async
            src="https://cse.google.com/cse.js?cx=003662769173238113687:uqaxpea1lms"></script>
        <script src="https://www.google.com/recaptcha/api.js" async defer></script>
        <title>
            {% block title_block %}
            App
            {% endblock %}
            - Bikezon
        </title>
    </head>
    <body>
        <header class="main-header">
            <a href="{% url 'app:index' %}">
                <img src="{% static 'images/logo.png' %}" alt="Bikezon Logo">
            </a>
            <p class="navbar-text">Bikezon</p>
            <div class="gcse-search"></div>
            {% if user.is_authenticated %}
            {{ user.username }}
            <img src="{{ picture.url }}" />
            <a href="{% url 'app:logout' %}" class="sign-button">Logout</a>
            {% else %}
            <a href="{% url 'app:login' %}" class="sign-button">Sign in</a>
            <a href="{% url 'app:register' %}" class="sign-button">Sign up</a>
            {% endif %}
        </header>

        <div>
            {% block body_block %}
            {% endblock %}
        </div>
    </body>

    <footer>
        <div class=footer"
            role="navigation">
            <div class="footer-text">
            </div>
            <div class="footer-text">
                <a href="https://github.com/bikezon/bikezon">
                    <i class="fa fa-github-square fa-2x"></i></a>
            </div>
            <div class="footer text">
                &copy; Bikezon, 2020
            </div>
        </div>
    </footer>
</html>
