<!DOCTYPE html>
{% load static %}
<html>
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="{% static 'css/main.css' %}" />
        <link rel="shortcut icon" href="{% static 'images/favicon.ico' %}">
        <script async
            src="https://cse.google.com/cse.js?cx=003662769173238113687:uqaxpea1lms"></script>
        <title>
            {% block title_block %}
            App
            {% endblock %}
            - Bikezon
        </title>
    </head>
    <body>
        <header class="main-header">
            <p class="navbar-text">Bikezon</p>
            <div class="gcse-search"></div>
            <a href="{% url 'app:login' %}">Sign in</a>
            <a href="{% url 'app:register' %}">Sign up</a>
            {% if user.is_authenticated %}
            <a href="{% url 'app:logout' %}">Logout</a>
            {% endif %}
        </header>
        <div>
            {% block body_block %}
            {% endblock %}
        </div>
    </body>
</html>