<!DOCTYPE html>
{% load static %}
{% load bootstrap4 %}
{% bootstrap_css %}
<html>
    <head>
	<style>
</style>
        <meta charset="UTF-8">
        {% block extra_head %}
        {% endblock %}
        {% block meta_block%}
        {% endblock %}
        <link rel="stylesheet" href="{% static 'css/main.css' %}" />
        <link rel="stylesheet" href="{% static 'css/category.css' %}" />
        <link rel="shortcut icon" href="{% static 'images/favicon.ico' %}">
        <script src="https://www.google.com/recaptcha/api.js" async defer></script>
        <script
            src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="{% static 'js/app-js/account_button.js' %}"> </script>
        <script src="{% static 'js/app-jquery/footer.js' %}"> </script>
        <title>
            {% block title_block %}
            App
            {% endblock %}
            - Bikezon
        </title>
    </head>
    <body>
        <header class="main-header">
            <a href="{% url 'app:index' %}">
                <img src="{% static 'images/logo.png' %}" alt="Bikezon Logo">
            </a>
            <a href="{% url 'app:index' %}">
                <p class="navbar-text">Bikezon</p>
            </a>
            <nav class="main-nav">
                {% if user.is_authenticated %}
                <a href="{% url 'app:logout' %}" class="nav-button"
                    id="id_logout">Sign out</a>
                <div class="nav-button">
                    <button onclick="myFunction()" class="dropbtn">My Account</button>
                    <div id="myDropdown" class="dropdown-content">
                        <a href="{% url 'app:account' %}">My Account</a>
                        <a href="{% url 'app:list' %}">My Wishlist</a>
                        <a href="{% url 'app:feed' %}">Go to my feed</a>
                        <a href="{% url 'app:sell' %}">Sell an item</a>
                    </div>
                </div>
                {% else %}
                <a href="{% url 'app:login' %}" class="nav-button"
                    id="id_login">Sign in</a>
                <a href="{% url 'app:register' %}" class="nav-button"
                    id="id_register">Sign up</a>
                {% endif %}
                <a href="{% url 'app:index' %}" class="nav-button"
                    id="id_index">Home</a>
            </nav>
        </header>

        <main class="main">
            <aside class="main-aside">
                {% block aside_block %}
                {% endblock %}
            </aside>
            <section class="main-section">
                {% block body_block %}
                {% endblock %}
            </section>
        </main>
        <footer id="footer">
            <div class="footer text">
                &copy; Bikezon, 2020
                <a href="{% url 'app:contact' %}">Contact Us</a>
            </div>
        </footer>
    </body>
</html>
