{% extends "app/base.html" %}
{% block title_block %}
{% if category %}
{{ category.name }}
{% else %}
Unknown Category
{% endif %}
{% endblock %}

{% block body_block %}
{% if category %}
<style>
h1{
text-align:center;
color:orange;
font-weight:bold;
}
</style>
<h1>{{ category.name }}</h1>
<p class="catDis">{{ category.description }}</p>
{% for subcat in subcats %}
<div class="subcat">
    <a class="catHeading" href="/category/{{ category.name }}/{{ subcat.slug }}/">{{ subcat.name }}</a>
</div>
{% endfor %}
{% endif %}
{% endblock %}
