{% extends 'app/base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block title_block %}

{{user}}'s Page
{% endblock %}
{% block body_block %}
<form method="POST" action="{% url 'app:edit_profile' %}" enctype="multipart/form-data" style="margin-top: 25px; border: none;">
    {% csrf_token %}
    <div class="form-group">
      <label for="name">Address</label>
      <input type="text" class="form-control" id="id_address" aria-describedby="addressHelp" placeholder="Enter New Address" name="address">
    </div>

    <div class="form-group">
      <label for="phone">Telephone</label>
      <input type="Telephone" class="form-control" id="id_phone_0" aria-describedby="telephoneHelp" placeholder="Enter New Phone" name="phone_0">
    </div>
      
      <div class="input-group">
        <div class="custom-file">
          <input type="file" class="custom-file-input" id="id_picture_input" name="picture" aria-describedby="inputGroupFileAddon01">
          <label class="custom-file-label" for="inputGroupFile01">Image</label>
        </div>
      </div>

    <button type="submit" class="btn btn-primary" id="id_sell" style="margin-top: 10px;">Save Changes</button>
  </form>
{% endblock %}