{% extends 'app/base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block title_block %}

{{user}}'s Page
{% endblock %}
{% block body_block %}
<div class="container">

    <div align="center">
        <br>

        {% if picture.url %}
        <img src="{{ picture.url }}" />
        {% else %}
        <p>No picture</p>
        {% endif %}
    </div>
    <br>
    <div align="center">
        <h2>Edit Your Profile</h2>
        <br>
        <form method="POST" action="{% url 'app:edit_profile' %}" class="">
            {% csrf_token %}
            {{ form|crispy}}
            <br>
            <button type="submit" class="edit-button">Save</button>
        </form>

    </div>
    <div id="edit_profile"></div>

</div>
{% endblock %}