{% extends 'app/base.html' %}
{% load static %}
{% load bootstrap4 %}
{% bootstrap_css %}
{% load crispy_forms_tags %}

{% block body_block %}
<div class="container">

    <div align="center">
        <h1 class="text-center"><u>Hello {{ user }}</u></h1>
        <br>
    </div>
    <br>
    <div align="center">
        <h2>Edit Your Listing</h2>
        <br>
        <form method="POST" form enctype="multipart/form-data" action="{% url 'app:edit_listing' %}">
            {% csrf_token %}
            {{ form|crispy}}
            <br>
            <button type="submit" class="edit-button">Save</button>
        </form>

    </div>
    <div id="edit_listing"></div>

</div>

<form action="{% url 'app:delete_product' %}" method="POST">
    {% csrf_token %}
    {% buttons %}
    <input type="submit" name="delete_product" value="Or Remove It?"
        class="btn btn-primary"/>
    {% endbuttons %}
</form>
{% endblock %}