
{% extends "app/base.html" %}
{% load static %}

{% block title_block %}
Your Feed
{% endblock %}

{% block body_block %}
<link rel="stylesheet" href="{% static 'css/index.css' %}" />
{% if profiles %}
{% for profile in profiles %}
  <h1>{{ profile.user.username }}</h1>
  {% for key, value in products.items %}
  {% if key == profile %}
  <div id="members" class="scrollmenu">
  {% for elem in value %}
  
  <figure class="img-wrapper">
    <a href="/product/{{ elem.slug }}/">
    <img src="{{ elem.picture.url }}" />
    </a>
    <figcaption><a href="/product/{{ elem.slug }}/" id="id_{{ elem.slug }}">{{ elem.name }}</a></figcaption>
    </br>
    <figcaption><a href="/product/{{ elem.slug }}/" id="id_{{ elem.slug }}">{{ elem.price }}£</a></figcaption>
  </figure>
  {% endfor %}
</div>
  {% endif %}
  {% endfor %}
{% endfor %}
{% endif %}
{% endblock %}
