{% extends "app/base.html" %}
{% load static %}

{% block title_block %}
Homepage
{% endblock %}

{% block body_block %}
<link rel="stylesheet" href="{% static 'css/index.css' %}" />
<h1>Welcome to Bikezon</h1>
<div class="gcse-search">
</div>
<div>
    {% if products %}
    <h2 class="secondh2">Browse</h2>
      {% for subcat, productlist in mapping.items %}
        {% if productlist %}
        <h3 ><a href="/category/{{ subcat.category }}/{{ subcat.slug }}/">{{ subcat.name }}</a></h3>
        {% endif %}
        <div id="members" class="scrollmenu">
        {% for product in productlist %}
        <figure class="img-wrapper">
        <a href="/product/{{ product.slug }}/">
        <img src="{{ product.picture.url }}" />
        </a>
        <figcaption><a href="/product/{{ product.slug }}/" id="id_{{ product.slug }}">{{ product.name }}</a></figcaption>
        </br>
        <figcaption><a href="/product/{{ product.slug }}/" id="id_{{ product.slug }}">{{ product.price }}£</a></figcaption>
        </figure>
        {% endfor %}
      </div>

      {% endfor %}
    {% else %}
        <strong>There are no products present.</strong>
    {% endif %}
</div>

{% endblock %}
