{% extends "app/base.html" %}
{% load static %}
{% load bootstrap4 %}
{% bootstrap_css %}

{% block title_block %}
Bikezon Wish List
{% endblock %}
{% block body_block %}
<link rel="stylesheet" href="{% static 'css/list.css' %}" />
<link rel="stylesheet" href="{% static 'css/index.css' %}" />
<link rel="stylesheet" href="{% static 'css/subcat.css' %}" />
<h1>Your Wishlist</h1>

{% if products %}
<div class="row">
  {% for product in products %}
  <div class="column">
    <div class="card">
      <a href="/product/{{ product.slug }}/">
        <img src="{{ product.picture.url }}" />
        </a>
        <a href="/product/{{ product.slug }}/" id="id_{{ product.slug }}">{{ product.name }}</a>
        </br>
        <a href="/product/{{ product.slug }}/" id="id_{{ product.slug }}">£ {{ product.price }}</a>
      </figure>
    </div>
  </div>
    {% endfor %}
</div>
{% else %}
<div class="noprod">
<strong>No products in your wish list.</strong>
</div>
{% endif %}

{% endblock %}