{% extends "app/base.html" %}
{% load static %}


{% block title_block %}
Bikezon Login
{% endblock %}

{% block body_block %}
<script src="{% static 'js/app-js/login_button.js' %}"> </script>
{% for message in messages %}
<div class="alert alert-error">
    {{ message }}
</div>
{% endfor %}
<div class="container">
    <h2 style="text-align:center">Login</h2>
    <form id="login_form" method="post" action="{% url 'app:login' %}">
        {% csrf_token %}
        Username: <input type="text" name="username" value="" size="50" />
        <br />
        Password: <input type="password" name="password" value="" size="50"
            />
        <br />
        <div class="g-recaptcha"
            data-sitekey="6LcWyN4UAAAAALfrAGuuoRR6V0m9Dck1u4YAWoE2"
            data-callback="enableBtn"></div>
        <input type="submit" value="submit" id="log-in-button" disabled/>
    </form>
</div>

{% endblock %}