{% extends "app/base.html" %}
{% load static %}

{% block title_block %}
Bikezon Login
{% endblock %}

{% block body_block %}
<script src="{% static 'js/app-js/login_button.js' %}"></script>
{% for message in messages %}
<div class="alert alert-error">
    {{ message }}
</div>
{% endfor %}

<h2 style="text-align:center">Login</h2>

<form id="login_form" method="post" action="{% url 'app:login' %}">
    <div class="container">
        {% csrf_token %}
        <label for="username"><b>Username</b></label>
        <input type="text" placeholder="Enter Username" name="username" value=""
            required id="id_username">
        <label for="password"><b>Password</b></label>
        <input type="password" placeholder="Enter Password" name="password"
            value="" required id="id_password">
        <div class="g-recaptcha"
            data-sitekey="6LeIxAcTAAAAAJcZVRqyHh71UMIEGNQ_MXjiZKhI"
            data-callback="enableBtn">
        </div>
        <button type="submit" id="log-in-button" >Complete Captcha</button>
    </div>
    <div class="container" style="background-color:#f1f1f1">
        <form>
            <a class="back-button" href="{% url 'app:index' %}">Back</a>
        </form>
        <span class="password">Forgot <a href="/password/password_reset">password?</a></span>
    </div>

</form>

{% endblock %}
