
{% extends "app/base.html" %}
{% load static %}

{% block title_block %}
{% if product %}
{{ product.name }}
{% else %}
Unknown Product
{% endif %}
{% endblock %}

{% block body_block %}
{% if product %}
<h1>{{ product.name }}</h1>
<p>{{ product.description }}</p>
<a href="mailto: {{ product.seller.user.email }}"> Get in touch with {{ product.seller }}</a>
<p>Or giver them a call on {{ product.seller.phone }}</p>

<img src="{{ product.picture.url }}" />

{% if message %}
{{ message }}
{% endif %}
<form action="{% url 'app:add_to_list' product.slug %}" method="POST">
    {% csrf_token %}
    <input type="submit" name="Add to list" value="Add to list" />
</form>
{% else %}
The specified product does not exist.
{% endif %}

{% endblock %}