{% extends "app/base.html" %}
{% load static %}
{% load bootstrap4 %}
{% bootstrap_css %}

{% block title_block %}
{% if product %}
{{ product.name }}
{% else %}
Unknown Product
{% endif %}
{% endblock %}

{% block body_block %}
<link rel="stylesheet" href="{% static 'css/product.css' %}" />

{% if product %}
<div class="card">
    <img src="{{ product.picture.url }}" alt="{{ product.name }}">
    <h1>{{ product.name }}</h1>
    <p class="price">{{ product.price}} £</p>
    <p>{{ product.description }}</p>
    <a href="mailto: {{ product.seller.user.email }}"> Get in touch with {{ product.seller }}</a>
    <p>Or giver them a call on {{ product.seller.phone }}</p>
</div>
{% if user.is_authenticated %}
<form action="{% url 'app:add_to_list' product.slug %}" method="POST" >
    {% csrf_token %}
    <input type="submit" name="Add to list" value="Add/Remove to wishlist"
        id="id_wishlist" class="btn btn-primary" />
</form>
{% endif %}
{% else %}
The specified product does not exist.
{% endif %}

<!-- This form relies on product seller name to get the person to follow
so be careful if altering it or product seller-->
{% if user.is_authenticated %}
<form action="{% url 'app:follow_user' product.slug %}" method="POST"
    id="id_follow">
    {% csrf_token %}
    {% buttons %}
    <input type="submit" name="follow_this" value="Follow/Unfollow {{product.seller }}" 
    id="id_follow" class="btn btn-primary"/>
    {% endbuttons %}
</form>
{% endif %}

{% if auth_user %}
<form action="{% url 'app:edit_listing' %}" method="POST">
    {% csrf_token %}
    {% buttons %}
    <input type="submit" name="edit_listing" value="Edit {{ product.slug }}"
        class="btn btn-primary"/>
    {% endbuttons %}
</form>
{% endif %}

{% endblock %}