{% extends "app/base.html" %}

{% block title_block %}
Bikezon Register
{% endblock %}

{% block body_block %}
<h1>Temp Register page</h1>

{% if registered %}
<strong>thank you for registering!</strong>
<a href="{% url 'app:index' %}">Return to the homepage.</a><br />
{% else %}
<strong>register here!</strong><br />
<form id="user_form" method="post" action="{% url 'app:register' %}"
    enctype="multipart/form-data">
    {% csrf_token %}
    {{ user_form.as_p }}
    {{ profile_form.as_p }}

    <input id="submit" type="submit" name="submit" value="Register" />
</form>
{% endif %}
{% endblock %}