{% extends "app/base.html" %}
{% block extra_head %}
{% endblock %}

{% block title_block %}
Bikezon Register
{% endblock %}

{% block body_block %}
<h2 style="text-align:center">Register</h2>

{% if registered %}
<strong>Thank you for registering!</strong>
<a href="{% url 'app:index' %}">Return to the homepage.</a><br />
{% else %}
<strong>Please fill in this form to create an account</strong><br />
<form id="user_form" method="post" action="{% url 'app:register' %}"
    enctype="multipart/form-data">
	<div class="container">
    {% csrf_token %}
    {{ user_form.as_p }}
    {{ profile_form.as_p }}
	</div>

  <div class="clearfix">
    <button type="button" class="cancelbtn">Cancel</button>
    <button type="submit" class="signupbtn">Sign Up</button>
  </div>

  <!-- <div class="clearfix">
     <a href="{% url 'app:index' %}" class="cancelbtn">Click Here</a>
     <a class="signupbtn">Sign Up</a>
  </div> -->


</form>
{% endif %}
{% endblock %}
