{% extends "app/base.html" %}
{% load static %}
{% load bootstrap4 %}
{% load crispy_forms_tags %}

{% block title_block %}
Bikezon Sell Item
{% endblock %}

{% block body_block %}
<link rel="stylesheet" href="{% static 'css/sell.css' %}" />

<form method="post" action="{% url 'app:sell' %}" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form|crispy }}
    {% buttons %}
    <button type="submit" class="btn btn-primary" id="id_sell">
        Sell
    </button>
    {% endbuttons %}
</form>
{% endblock %}