
.account{
font-weight:bold;
font-size:80px;
color:orange;
text-align:center;
}
.profile{
text-align:center;
}
.name{
font-weight:bold;
font-size:30px;
}
.btn-primary{
width:100%;
border-radius:20px;
padding:25px;
font-size:40px;
}
