.catHeading{
	font-weight:bold;
	text-align:center;
}
.catDis{
font-weight:bold;
text-align:center;
font-size:25px;
}
.subcat{
border: 2px solid khaki;
margin:10px;
background-color:ivory;
padding-left:8%;
font-size:25px;
}
.item{
color:peru;
}

