
h1{
text-align:center;
color:orange;
font-weight:bold;
font-family:"Times New Roman";
}
.auth{
text-align:right;
font-weight:bold;
margin-right:2.5%;
}
h2{
text-align:left;
color:orange;
font-weight:bold;
font-family:"Times New Roman";
}
.secondh2{
text-align:center;
color:orange;
font-weight:bold;
font-family:"Times New Roman";
}
.catName{
color:Dodgeblue;
font-size:20px;
margin:20px;
border:2px;
font-family:"Times New Roman";
}
.products{
font-weight:bold;
text-transform:capitalize;
display:block;

}
.row {
  display: flex;
}

.column {
  flex: 33.33%;
}
.proImage{
  text-align:center;
  border: 2px solid black;
  margin:1.5%;
  padding:10%;
}
img{
height:90%;
width:90%;
}

