/* Main CSS file, to be linked in base.html template */


/* ################### Navigation Bar CSS ################### */

/* Add a black background color to the top navigation bar */
.main-header {
    overflow: hidden;
    background-color: white;
  }
  
/* Style the links inside the navigation bar */
.main-header a {
  float: right;
  display: block;
  color: white;
  background-color: lightskyblue;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  margin-right: 5px;
}

/* Style the nav-bar text */
.navbar-text {
    float: left;
    margin-right: 16px;
    color: orange;
}

