/* Main CSS file, to be linked in base.html template */
@import "https://fonts.googleapis.com/css?family=B612";

/* ################### Navigation Bar CSS ################### */

/* Add a white background color to the top navigation bar */
.main-header {
    overflow: hidden;
    background-color: #F2EAD3;
}

div.scrollmenu {
    overflow: auto;
    white-space: nowrap;
}

div.scrollmenu a {
    padding: 14px;
}

img {
    width: 270px;
    height: 190px;
}

/* Style the links inside the navigation bar */
.nav-button {
  float: right;
  color: white;
  background-color: lightskyblue;
  text-align: center;
  padding: 0.6% 0.6%;
  text-decoration: none;
  font-size: 17px;
  margin: 25px 5px 0 5px;
}
/* Styling search bar */
#___gcse_0 {
  border-width:0px;
  float:left;
  width:60%;
  margin:0%;
  padding-top:0.3%;
}

/* Style the nav-bar text */
.main-header p {
  padding-top:3%;
  float: left;
  margin-right: 16px;
  color: orange;
  font-weight: bold;
  font-family: "B612";
  align-items: center;
  vertical-align: middle;
  font-size: 30px;
}

.main-header img {
  padding-top:1%;
  margin: 15px 10px;
  float: left;
  width: 70px;
  height: 70px;
  vertical-align: middle;

}

body {
  font-family: "B612";
}

form {
  border: 3px solid #f1f1f1;
  width: 30%;
  margin: 0 auto;
}

.input-lg {
    /* CSS code */
}

#user_form  {
    font-weight: bold;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

/* Extra styles for the cancel button */
.cancelbtn {
  padding: 14px 20px;
  background-color: #f44336;
}

/* Float cancel and signup buttons and add an equal width */
.cancelbtn, .signupbtn {
  float: left;
  width: 50%;
}

/* style the container */
.container {
  padding: 8px 16px 0 16px;
  /* position: relative; */
  /* border-radius: 5px; */
  /* background-color: #f2f2f2; */
  /* padding: 20px 0 30px 0; */
  /* padding: 16px; */
}

.back-button {
  width: auto;
  padding: 10px 18px;
  background-color: #f44336;
}

span.password {
  float: right;
  padding-top: 16px;
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
  span.psw {
     display: block;
     float: none;
  }
  .cancelbtn {
     width: 100%;
  }
}


/* ################### Inputs ################### */


/* style inputs and link buttons */
/* * {box-sizing: border-box} */

/* input, */
/* .btn { */
  /* width: 100%; */
  /* padding: 12px; */
  /* border: none; */
  /* border-radius: 4px; */
  /* margin: 5px 0; */
  /* opacity: 0.85; */
  /* display: inline-block; */
  /* font-size: 17px; */
  /* line-height: 20px; */
  /* text-decoration: none; /* remove underline from anchors */
/* } */

input[type=text], input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 10px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

/* input:hover, */
/* .btn:hover { */
  /* opacity: 1; */
/* } */

/* text inside the vertical line */
/* .inner { */
  /* position: absolute; */
  /* top: 50%; */
  /* transform: translate(-50%, -50%); */
  /* background-color: #f1f1f1; */
  /* border: 1px solid #ccc; */
  /* border-radius: 50%; */
  /* padding: 8px 10px; */
/* } */

/* vertical line */
/* .vl { */
  /* position: absolute; */
  /* left: 50%; */
  /* transform: translate(-50%); */
  /* border: 2px solid #ddd; */
  /* height: 175px; */
/* } */

/* style the submit button */

/* input[type=submit] { */
  /* background-color: orange; */
  /* color: white; */
  /* cursor: pointer; */
  /* padding: 14px 20px; */
  /* margin: 8px 0; */
  /* border: none; */
  /* width: 100%; */
/* } */

button {
  background-color:orange;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}

button:hover {
  opacity: 0.8;
}

button.dropbtn {
  background-color: lightskyblue;
}

a.nav-button:hover {
  text-decoration: none;
  color: white;
  opacity: 0.8;
}

div.nav-button:hover {
  opacity: 0.8;
}

/* input[type=submit]:hover { */
  /* background-color: orange; */
/* } */


/* Test button animation*/

.edit-button {
  padding: 15px 25px;
  font-size: 24px;
  text-align: center;
  cursor: pointer;
  outline: none;
  color: #fff;
  background-color: #4CAF50;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
}

.edit-button:hover {background-color: #3e8e41}

.edit-button:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}


/* Footer */
.footer {
  padding-bottom:0;
  text-align:center;
  font-size:15px;
  font-weight:bold;
  width: 100%;
  height : 40px;
  background-color:lightgray;
  display: inline-block;
  position:absolute;
}

#content {
  position: absolute;
  top: 120px;
  width: 10%;
  background-color: green;
  height: 800px; /* assumed height, use an appropriate value */
  overflow: scroll;
}

/* Contacts github widget*/
.hub-container{
  margin-left: 150px;
  margin-top: 20px;
  display: flex;
}
.fixed{
  width: 300px;
}
.flex-item{
  flex-grow: 1;
}

/* Dropdown button on hover & focus */
.dropbtn:hover, .dropbtn:focus {
  /* background-color: #2980B9; */
}

/* The container <div> - needed to position the dropdown content */

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}
/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {display:block;}
