@import "https://fonts.googleapis.com/css?family=B612";

h1 {
    text-align: center;
    font-family: B612;
  }

p{
    text-align: center;
    font-family: "B612";
}

form{
    margin-top: 15px;
    border: none;
    font-weight: bold;
    font-size: large;
    font-family: "B612";
    text-align: center;
}

input{
    margin-top: 15px;
}